.root {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    /*-fx-base: rgb(132, 145, 47);*/
    /*-fx-background: rgb(225, 228, 203);*/
}

/*.list-item{*/
/*    -fx-background-color: #e1e1e1;*/
/*    -fx-border-style: dashed;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-radius: 5px;*/
/*    -fx-background-radius: 5px;*/
/*}*/


.list-cell {
    -fx-font-size: 12.0;
    -fx-font-family: Menlo, monospace;
}